body{
    overflow-x: hidden;
    padding-bottom: 100px;
}

nav{
    border-bottom: 1px solid #cbcbcb;
}

.app{
    margin-top: 10px;
}

.hidden{
    display: none !important;
}

.clickable{
     cursor: pointer;
    transition: 0.5s;
}

.clickable:hover{
    text-shadow: 5px 5px 2px #c3c3c3;
}



